.cards{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
}

.card-title{
    text-align: center;
    color: var(--purple);
}

.card-text{
    text-align: justify;
}

.carousel{
   display: flex;
   justify-content: center;
   align-items: center;
}

.infos_accueil{
    width: 50%;
}

@media screen and (max-width: 768px) {

    .div-accueil-post{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-accueil-post div{
        width: auto;
    }

    .carousel-item img  {
        width: 100% !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .div-accueil-post{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-accueil-post div{
        width: auto;
    }

    .carousel-item img  {
        width: 100% !important;
    }
}
