body{
  font-family: 'Jost';
}

.container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: var(--purple);
  padding-left: 30px;
  margin-right: 0;
  margin-left: 0;
}

.container h2{
  color: var(--white);
  margin-bottom: 20px;
  font-family: 'Jost-SemiBold';
}

.dates{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dates h3{
  color: var(--yellow);
  font-family: 'Jost-SemiBold';
}

.dates p{
  color: var(--white);
  font-family: 'Jost';
}

.infos_club{
  width: 95%;
  background-color: var(--yellow);
  position: relative;
  float: right;
  /* margin-left: 5%; */
  padding-left: 50px;
  margin-bottom: 30px;
}

.infos_club h2{
  margin-top: 20px;
  font-family: 'Jost-SemiBold';
}

.infos_club p{
  font-family: 'Jost';
}

.infos_club span{
  color: var(--purple);
  font-family: 'Jost-SemiBold';
}

.membres_bureau{
  width: 80%;
  margin: auto;
}

.membres_bureau h2 span{
  font-weight: bold;
  font-family: 'Jost';
}

.membres_bureau h2{
  font-family: 'Jost-Light';
}

.membres_bureau img{
  width: 1024px;
  height: 683px;
  margin-bottom: 20px;
}

.membres_bureau h6{
  font-family: 'Jost-Light';
}

.salaries{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.salaries h2{
  font-family: 'Jost-SemiBold';
  margin-bottom: 20px;
}

.salaries img{
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.container_infos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infos_salaries{
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.infos_salaries:hover {
  opacity: 1;
}

.prenom_salaries{
  line-height: 0px;
  display: flex;
  font-family: 'Jost-SemiBold';
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.prenom_salaries p{
  color: var(--purple);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-family: 'Jost-SemiBold';
}

.prenom_salaries p span{
  text-transform: uppercase;
}

.contact{
  width: 80%;
  margin: auto;
}

.contact h2{
  font-family: 'Jost-SemiBold';
}

.contact p img{
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.contact p:nth-child(3){
  font-family: 'Jost-SemiBold';
  display: flex;
  align-items: center;
}

.contact span{
  font-family: 'Jost-SemiBold';
}


#mail_link:hover{
  color: var(--purple);
}

.carousel-container {
  position: relative;
}

.carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  width: auto !important;
}

.carousel-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carousel-item {
  flex: 0 0 100%;
}

.dates-wrapper {
  display: flex;
  justify-content: space-around;
  flex: 0 0 100%;
}

@media screen and (max-width: 768px) {

  .salaries{
    text-align: center;
  }

  .container_infos{
    flex-direction: column;
  }

  .container_infos .infos_salaries{
    margin-bottom: 20px;
    width: auto;
    opacity: 1;
  }

  .affiche_div{
    display: none;
  }

  .d-none{
    display: inherit !important;
  }

  #monCarrousel{
    display: none !important;
  }
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  body {
    overflow-x: hidden !important;
  }

  .salaries{
    text-align: center;
  }

  .container_infos{
    flex-direction: column;
  }

  .container_infos .infos_salaries{
    margin-bottom: 20px;
    width: auto;
    opacity: 1;
  }

  .affiche_div{
    display: none;
  }

  .d-none{
    display: inherit !important;
  }

  #monCarrousel{
    display: none !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1160px) {

  body {
    overflow-x: hidden !important;
  }

  .salaries{
    text-align: center;
  }

  .container_infos{
    flex-direction: column;
  }

  .container_infos .infos_salaries{
    margin-bottom: 20px;
    width: auto;
    opacity: 1;
  }

}

@media screen and (min-width: 1160px) and (max-width: 1360px) {
  .salaries{
    text-align: center;
  }

  .infos_salaries{
    margin: 10px;
  }

}