h3{
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bold;
}

p{
    padding-left: 10px;
}

.div-button{
    margin-top: 20px;
}

.div-button a{
    background-color: var(--yellow);
    color: var(--purple);
    transition: 0.5s;
}

.div-button a:hover{
    background-color: var(--purple);
    color: var(--yellow);
    transition: 0.5s;
}