.cards{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
}

.card-title{
    text-align: center;
    color: var(--purple);
}

.card-text{
    text-align: justify;
}

.carousel{
   display: flex;
   justify-content: center;
   align-items: center;
}