{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_h2.boutique{% endtrans %}{% endblock %}

{% block body %}

<h2>{% trans %}title_h2.boutique{% endtrans %}</h2>

<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/handball-rochettois/boutiques/boutique-du-handball-rochettois/widget" style="width: 100%; height: 750px; border: none;"></iframe>

{% endblock %}

{% block js %}

<script>changementAcitveLink('Boutique')</script>

{% endblock %}